* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.event-card {
  width: 18rem;
  height: 7rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: scale ease-in-out 150ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.event-card:hover {
  scale: 1.05;
}

.event-indicator {
  width: 0.5rem;
  height: 100%;
  flex-shrink: 0;
  border-radius: 2rem;
}

.event-details {
  min-width: 0;
  height: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-title, .event-time, .event-location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-title {
  font-size: 1.05rem;
  font-weight: 600;
}

.event-time, .event-location {
  font-size: 0.8rem;
}

.event-date {
  margin-left: auto;
  margin-bottom: auto;
  width: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.event-month {
  width: 100%;
  line-height: 0.8rem;
  font-size: 0.5rem;
  font-weight: 500;
  color: #fdfdfd;
  background-color: #ff0f0f;
}

.event-weekday {
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1rem;
}

.event-day {
  line-height: 1.25rem;
  font-size: 1.75rem;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

